.product-item{
    border:  1px solid #000;

}

.product-img{
    position: relative;
    overflow: hidden;
}

/*Con bottom -100% se oculta el boton*/
.btns{
   position: absolute;
   left: 0;
   bottom: -100%;
   font-size:15px;
   font-weight: 300;
   transition: all 0.3s ease-in-out;
   
}

.btns button{
    border:none;
    background-color: rgba(39,39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
   
}

.btns button:hover{
    color:  #fcb941;

}
/*Pasar el cursor por encima de limg parece el buttom*/
.product-img:hover .btns{
     bottom:0;

}


/*Posicionar el icono heart al lado derecho arriba*/
.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size:18px;
}

.product-type{
    font-size:13px;
    opacity: 0.8;

}

/*titulo del producto*/
.product-name{
    transition: all 0.3s ease-in-out;
    
}
.product-name:hover{
    color:  #fcb941!important;
}

/*Precio*/
.product-price{
    color:  #fcb941;
}

.rating{
    font-size:13px;

}

/*Ancho de la card*/
.product-item{
    width: 260px;
}